<%= form_with url: '/flights', method: :get, class: "bg-white p-4 rounded-md shadow-sm" do |f| %>


  <div class="form-field">
    <h1> Search for Flights </h1>
      <div class="align-self-center">
        <%= f.label :departure_airport_id, hidden: true, class: "form-label" %>
        <%= f.collection_select :departure_airport_id, Airport.all, :id, :code, required: true, autofocus: true, autocomplete: "departure airport", prompt: "From", class: "form-select m-1 bg-primary" %>

        <%= f.label :arrival_airport_id, hidden: true, class: "form-label" %>
        <%= f.collection_select :arrival_airport_id, Airport.all, :id, :code, required: true, autofocus: true, autocomplete: "departure airport", prompt: "To", class: "form-select" %>

        <%= f.label :num_tickets, hidden: true, class: "form-label" %>
        <%= f.select :num_tickets, (1..4), required: true, autofocus: true, autocomplete: "tickets", prompt: "Passengers", class: "form-select" %>

        <%= f.label :departure_time, hidden: true, class: "form-label" %>
        <%= f.date_select :departure_time, required: true, autofocus: true, autocomplete: "time", start_year: Date.today.year, end_year: Date.today.year + 1, use_short_month: true, prompt: { day: 'Day', month: 'Month', year: 'Year' }, order: [:month, :day, :year], class: "form-select" %>
         <%# f.date_field :departure_time,
                      value: params[:departure_time],
                      required: true,
                      placeholder: "dd/mm/yyyy"  %>

      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

